<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ルノアール検索</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="http://localhost:3000/assets/apple-touch-icon.png" rel="apple-touch-icon" type="image/png">
    <link href="/public/images/apple-touch-icon.png" rel="apple-touch-icon" type="image/png" />
    <link href="/public/stylesheets/jquery.mobile-1.1.1.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/mobiscroll.core-2.0.3.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/mobiscroll.ios-2.0.2.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/shops.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/public/javascripts/jquery_ujs.js" type="text/javascript"></script>
    <script src="/public/javascripts/jqm_setup.js" type="text/javascript"></script>
    <script src="/public/javascripts/jquery.mobile-1.1.1.js" type="text/javascript"></script>
    <script src="/public/javascripts/mobiscroll.core-2.0.3.js" type="text/javascript"></script>
    <script src="/public/javascripts/mobiscroll.datetime-2.0.3.js" type="text/javascript"></script>
    <script src="/public/javascripts/mobiscroll.ios-2.0.2.js" type="text/javascript"></script>
    <script src="/public/javascripts/shops.js" type="text/javascript"></script>
  </html>
  <body>
    <div data-dom-cache="true" data-role="page">
      <div data-position="fixed" data-role="header">
        <a href="/" data-direction="reverse">戻る</a>
        <h1>検索結果</h1>
      </div>
      <div data-role="content">
        <ul data-role="listview">
          <%= Enum.map assigns[:list], fn(shop) -> %>
            <li>
              <a href="/shops/<%= shop.id %>"><%= Shop.label(shop) %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div data-position="fixed" data-role="footer">
        <h4>© 2012 mururu</h4>
      </div>
    </div>
  </body>
</html>
